header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

header nav ul {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
}

.contact-us {
    display: flex;
    gap: 16px
}